<nav>
    <ul class="navbar">
      <li><a href="{{ site.baseurl }}/index.md">Home</a></li>
      <li><a href="{{ site.baseurl }}/projects.md">Projects</a></li>
      <!-- Add more links for other sections here -->
    </ul>
  </nav>
  
  <style>
    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
  
    .navbar li {
      float: left;
    }
  
    .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    .navbar li a:hover {
      background-color: #111;
    }
  </style>
  