---
---

@import "primer/_index";

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}
